h1 {
	text-align: center;
	
}


body {
	background-image: url('../img/bull.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	background: rgb(170, 187, 97); /* Fallback */
	background: rgba(192, 192, 192, 0.5);
	position: fixed;
	border: 5px solid #ccc;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px;
	 margin-left: auto;
    margin-right: auto;
    width: 8em
}
ul {
text-align: center;
}

li {
display: flex;
}
div {
    width: 150px;
    height: 150px;
    overflow: scroll;
}